@import url("https://fonts.googleapis.com/css2?family=Jost:wght@450&display=swap");

.image {
  width: clamp(40vw, calc(99.7vh * 4 / 3), 100vw);
  height: clamp(30vw, calc(99.7vh), 75vw);
  position: relative;
  z-index: -6;
}
.down {
  z-index: -50;
}
.fullscreen {
  display: none;
}
@media (max-aspect-ratio: 0.85) {
  .image {
    top: 0;
  }
  .fullscreen {
    margin-top: calc(64vw - 5vh);
    width: 5vh;
    border-radius: 5vh;
    height: 5vh;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1.5px solid white;
    position: fixed;
    right: 0;
    margin-right: 2vh;
  }
}
.none {
  display: none;
}
.expand {
  width: auto;
  height: 2.8vh;
  filter: invert(100%);
}

.afterleaflet {
  position: absolute;
  width: 100%;
  height: 85vh;
}
.collapse {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}
.fullscreenimage {
  width: calc(100vw / 3 * 4);
  height: 100vw;
  position: fixed;
  top: calc(50vh - 50vw / 3 * 4);
  left: -16.5%;
  transform: translateX(-50%);
  transform: rotate(90deg);
  z-index: 11;
}

.score {
  left: 0;
  margin-left: clamp(30vh, 65vw, 80vw);
  top: 90%;
  transform: translatey(-50%);
  position: fixed;
  font-size: clamp(4vh, 3vw, 3vw);
  color: white;
  text-shadow: 0 0 0.5vh var(--score), 0 0 0.5vh var(--score),
    0 0 1.5vh var(--score), 0 0 1vh var(--score), 0 0 2vh var(--score);
  filter: brightness(1.7);
}
.scoreinfo {
  font-size: clamp(1.3vh, 1vw, 1vw);
  left: 0;
  margin-left: clamp(30.5vh, 64vw, 80vw);
  top: 94%;
  transform: translatey(-50%);
  position: fixed;
  color: hsl(0, 0%, 45%);
}
.error {
  right: 0;
  margin-right: clamp(30vh, 65vw, 80vw);
  top: 90%;
  transform: translatey(-50%);
  position: fixed;
  font-size: clamp(4vh, 3vw, 3vw);
  color: white;
  text-shadow: 0 0 0.5vh var(--error), 0 0 0.5vh var(--error),
    0 0 1.5vh var(--error), 0 0 1vh var(--error), 0 0 2vh var(--error);
  filter: brightness(1.7);
}
.errorinfo {
  font-size: clamp(1.3vh, 1vw, 1vw);
  right: 0;
  margin-right: clamp(30.5vh, 65vw, 80vw);
  top: 94%;
  transform: translatey(-50%);
  position: fixed;
  color: hsl(0, 0%, 45%);
}

.nextimg {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(2.7vh, 2vw, 2vw);
  width: clamp(11vh, 10vw, 12vw);
  height: clamp(5vh, 4vw, 4vw);
  background-color: rgb(1, 45, 1);
  border-radius: 50vw;
  border: 2px solid rgb(1, 24, 1);
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
}
.nextimg:hover,
.menu:hover {
  transform: translate(-50%, -50%) scale(1.05);
}
.nextimg:active,
.menu:active {
  transform: translate(-50%, -50%) scale(0.97);
}

.report {
  position: fixed;
  bottom: 0;
  margin-bottom: 4.5vh;
  margin-left: clamp(1vh, 1vw, 1vw);
  width: 4.5vh;
  height: 4.5vh;
  border-radius: 2.5vh;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(52, 52, 52);
  cursor: pointer;
}
.report:hover {
  transform: scale(1.05);
}

.report:active {
  transform: scale(0.97);
}
.ReportImg {
  width: auto;
  top: 50%;
  transform: translatey(15%);
  height: 2.8vh;
  filter: invert(100%);
}

.progressbarcontainer {
  position: fixed;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(30vh, 40vw, 42vw);
  height: 6vh;
  background-color: #333;
  border-radius: 3vh;
}
.progressbarprogress {
  position: absolute;
  height: 6vh;
  border-top-left-radius: 3vh;
  border-bottom-left-radius: 3vh;
}
.points {
  position: fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: 50vw;
  font-size: 5vh;
  color: white;
  text-shadow: 0 0 0.5vh var(--points), 0 0 0.5vh var(--points),
    0 0 0.5vh var(--points), 0 0 0.5vh var(--points), 0 0 1vh var(--points);
  filter: brightness(1);
}
.menu {
  position: fixed;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.3vw;
  width: clamp(11vh, 10vw, 12vw);
  height: clamp(5vh, 4vw, 4vw);
  background-color: rgb(38, 165, 38);
  border-radius: 4vh;
  cursor: pointer;
  color: #e3e3e3;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  color: white;
  border-radius: 12px;
  font-family: "Orbitron", sans-serif;
}

.loadinggif {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: calc(var(--imageheight) / 4);
  left: 50%;
  transform: translatex(-50%);
  width: auto;
  height: calc(var(--imageheight) / 2);
}
.background {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  size: cover;
  background-image: url(/background.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
}
.mobileresultsbackground {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20vh;
  background-image: url(/background.jpg);
  background-size: 100vw auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -40;
}
.mobileconclusionbackground {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30vh;
  background-image: url(/background.jpg);
  background-size: 100vw auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -40;
}
.mobileblinkedbackground {
  position: fixed;
  top: 0;
  width: 100%;
  height: calc(100vw / 4 * 3);
  background-image: url(/background.jpg);
  background-size: 100vw auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -40;
}
