.inputinfo {
    font-size:1.5vw;
    margin-top:45vh;
    position:fixed;
    margin-left:40vw;
}
.inputname {
  width: clamp(24vh,15vw,15vw) ;
  right: 0;
  margin-right: calc(68.5vw - var(--inputnamewidth) );
  /* margin-right: 48.5vw; */
  height:5vh;   
  font-size: clamp(2vh,1.5vw,2vw);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top:clamp(32vh,24vw,60vh) ;

  border:1px solid rgb(166, 162, 162);
}
.start {
  font-size: clamp(15px,1.5vw,3vw);;
  --width: clamp(5vh,3vw,3vw);
  width: var(--width);
  right: 0;
  margin-right: calc(67vw - var(--inputnamewidth) - var(--width) );
  height: 5vh;
  background-color: rgb(9, 106, 9);
  color: #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; 
  margin-top:clamp(32vh,24vw,60vh) ;
  cursor: pointer;

}

.logoimage {
  width: clamp(10vh,7vw,7vw);
  position: absolute;
  right: 0;
  margin-right: 57vw;
  margin-top:clamp(20vh,15vw,38vh) ;

}
.logoname{
  --width: clamp(20vh,12vw,12vw);
  font-size: clamp(4vh,3vw,3vw);
  right: 0;
  margin-right: calc(54vw - var(--width) );
  position: absolute;
  margin-top:clamp(19vh,14vw,38vh) ;
}

.participantsList {
  background-color: rgb(36, 36, 36,0.8);
  width: 30vw;
  height:100vh;
  font-size: 1.1em;
  position: fixed;
  margin-left: 70vw;
  list-style-type: none;
  padding: 0;
  overflow:hidden;
  overflow-y:scroll;
  border:1px solid #ccc;
  margin-top: 6.4vh;
  padding-bottom:6vh;
}

.participantsList li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;

}
.listscore{
  position: absolute;
  margin-left: 20vw;
  font-size: 1.2vw;
}
.listparticipant{
  margin-left:0.5vw;
  font-size: 1.2vw;
}
.mobileparticipantlist{
  background-color: rgb(36, 36, 36,0.8);
  width: 100vw;
  height:100vh;
  font-size: 1vh;
  position: fixed;
  list-style-type: none;
  padding: 0;
  overflow:hidden;
  overflow-y:scroll;
  border:1px solid #ccc;
  margin-top: clamp(60vh,40vw,90vh) ;
  padding-bottom:6vh;
}
.mobileparticipantsList li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;

}
.mobilelistscore{
  position: absolute;
  right: 0;
  margin-right: 10vw;
  font-size: 2vh;
}
.mobilelistparticipant{
  margin-left:0.5vw;
  font-size: 2vh;
}
.leaderboardinfopart{
  position: fixed;
  margin-top: 0.8vh;
  margin-left: 1vw;
}
.mobileleaderboardinfopart{
  position: fixed;
  margin-top: 0.8vh;
  left: clamp(20px,2vw,3vw);
}
.leaderboardinfoscor{
  position: fixed;
  right: clamp(60px,5.4vw,10vw);
  margin-top: 0.8vh;
}
.leaderboardinfo{
  background-color: rgb(36, 36, 36,0.8);
  width: 30vw;
  height: 6.4vh;
  margin-left:70vw;
  font-size: 2vw;
  border: 1px solid #ccc;
}
.mobileleaderboardinfo{
  background-color: rgb(36, 36, 36,0.8);
  width: 100vw;
  height: 6.4vh;
  margin-top: clamp(53.7vh,40vw,90vh) ;
  position: fixed;
  font-size: clamp(24px,2vw,3vw);
  border: 1px solid #ccc;
}
.blinkmodeoffcontainer{
  width: 10vh;
  height: 4vh;
  position: fixed;
  margin-top: clamp(46vh,32vw,90vh) ;
  left: 47%;
  transform: translatex( -50%);
  background-color:#1f1f1f;  
  cursor: pointer;
  border-radius: 5vh;
  border: 1px solid#5c5b5b;


}
.blinkmodeoffbutton{
  position: fixed;
  width: 3.4vh;
  height: 3.4vh;
  border-radius: 5vh;
  top: 50%;
  left: 22%;
  transform: translate(-50%, -50%);
  background-color: #333;
  cursor: pointer;
  transition: 0.35s;
}

.blinkmodeexplainer{
  position: absolute;
  margin-top: clamp(40vh,27vw,90vh) ;
  left: 48%;
  transform: translatex( -50%);
  color: lightgray;
  height: 10vh;
  width: clamp(15vh,15vw,15vw);
  font-size:clamp(10px,1vw,1vw) ;
}
.blinkmodeonbutton{
  position: fixed;
  width: 3.4vh;
  height: 3.4vh;
  border-radius: 5vh;
  top: 50%;
  left: 78%;
  transform: translate(-50%, -50%);
  background-color: #333;
  cursor: pointer;
  transition: 0.35s;
}

.blinkmodeoncontainer{
  width: 10vh;
  height: 4vh;
  position: fixed;
  top: 20%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color:#1a1a1a;  
  cursor: pointer;
  border-radius: 5vh;
  border: 1px solid#5c5b5b;
  
}
.none {
  display:none;
}

