@import url('https://fonts.googleapis.com/css2?family=Jost:wght@450&display=swap');

.image {
  display: flex;
  width: clamp(40vw, calc(99.7vh * 4 / 3), 100vw);
  height: auto;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: -6;
  top: 50%;
  transform: translate(-50%, -50%); 
}
.down{
  z-index: -50;

}
.fullscreen{
  display: none;
}
@media (max-aspect-ratio: 0.85) {
  .image {
    top: 0;
    transform: translateX(-50%); 
  }
  .fullscreen{
    margin-top: calc(64vw - 5vh);
    width: 5vh;
    border-radius: 5vh;
    height: 5Vh;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid rgb(52, 52, 52, 0,5);
    position: fixed;
    right: 0;
    margin-right: 2vh;
  }
}
.none {
  display:none;
}
.expand {
  width: auto;
  height: 2.8vh;  
  filter: invert(100%);
}

.afterleaflet {
  position: absolute;
  width: 100%;
  height: 85vh;
}
.collapse {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}
.fullscreenimage {
  width: auto;
  height: 100vw;
  position: fixed;
  top: 20vh;
  left: -16.5%;
  transform: translateX(-50%);
  
  transform: rotate(90deg);

  z-index: 11;
}
  

.score {
  left:0 ;
  margin-left : clamp(30vh,65vw,80vw);
  top: 90%;
  transform: translatey( -50%);
  position: fixed;
  font-size: clamp(4vh,3vw,3vw);
  color:white;
  text-shadow: 
  0 0 .5vh var(--score),
   0 0 0.5vh var(--score), 
   0 0 1.5vh var(--score),
    0 0 1vh var(--score),
     0 0 2vh var(--score);
  filter:brightness(1.7);
}
.scoreinfo{
  font-size: clamp(1.3vh,1vw,1vw);
  left:0 ;
  margin-left : clamp(30.5vh,64vw,80vw);
  top: 94%;
  transform: translatey( -50%);
  position: fixed;
  color:hsl(0, 0%, 45%)
}
.error {
  
  right:0 ;
  margin-right : clamp(30vh,65vw,80vw);
  top: 90%;
  transform: translatey(-50%);
  position: fixed;
  font-size: clamp(4vh,3vw,3vw);
  color:white;
  text-shadow: 
  0 0 .5vh var(--error),
   0 0 0.5vh var(--error), 
   0 0 1.5vh var(--error),
    0 0 1vh var(--error),
     0 0 2vh var(--error);
  filter:brightness(1.7);
}
.errorinfo{
  font-size: clamp(1.3vh,1vw,1vw);
  right:0 ;
  margin-right : clamp(30.5vh,65vw,80vw);
  top: 94%;
  transform: translatey(-50%);
  position: fixed;
  color:hsl(0, 0%, 45%)
}

.nextimg {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(2.7vh,2vw,2vw);
  width: clamp(11vh,10vw,12vw);
  height: clamp(5vh,4vw,4vw);
  background-color: rgb(1, 45, 1);
  border-radius: 50vw;
  border:  2px solid rgb(1, 24, 1) ;
  cursor: pointer;

}
.report{
  position: fixed;
  top: 90%;
  transform: translatey(-50%);
  left: 0;
  margin-left: clamp(1vh,1vw,1vw);
  width: 5vh;
  height: 5vh;
  border-radius: 2.5vh;
  background-color: rgb(23, 23, 23);
  border: 2px solid rgb(52, 52, 52)  ;
  cursor: pointer;
}
.ReportImg{
  width: auto;
  top: 50%;
  transform: translatey(15%);
  height: 2.8vh;  
  filter: invert(100%);

}


  

.placemarker {
  position: fixed;
  --width :clamp(200px,20.1vw,20.1vw);
  width:var(--width);
  margin-left:calc(98vw - var(--width));
  height: 4vh;
  bottom: 0;
  margin-bottom: 0.5vh ;
  background-color: rgb(47, 47, 47,0.5);
  border-radius: 2vh;
  color : #e3e3e3;
  cursor: pointer;

}
.biggerplacemarker{
  position: fixed;
  --width:clamp(70vh,50vw,50vw);
  width:var(--width);;
  margin-left:calc(98vw - var(--width));
  height: 7vh;
  bottom: 0;
  margin-bottom: 0.5vh ;
  font-size:2.5vh;
  background-color: rgb(47, 47, 47,0.5);
  pointer-events: auto;
  border-radius: 3.5vh;
  color : #e3e3e3;
  cursor: pointer;
}
.mobileplacemarker{
  position: fixed;
  width:90vw;
  height: 7vh;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:2.5vh;
  background-color: rgb(47, 47, 47,0.5);
  pointer-events: auto;
  border-radius: 3.5vh;
  color : #e3e3e3;
  cursor: pointer;
}

.submit {
  position: fixed;
  width:clamp(200px,20.1vw,20.1vw);
  cursor: pointer;
  height: 4vh;
  margin-left:77.99vw;
  bottom: 0;
  margin-bottom: 0.5vh ;
  background-color: rgb(0, 95, 0,0.5) ;
  border-radius: 2vh;
  color : #e3e3e3;
}
.biggersubmit {
  position: fixed;
  --width:clamp(70vh,50vw,50vw);
  width:var(--width);
  height: 7vh;
  margin-left:calc(98vw - var(--width));
  bottom: 0;
  margin-bottom: 0.5vh ;
  font-size:3vh;
  background-color: rgb(0, 95, 0,0.5) ;
  pointer-events: auto;
  border-radius: 3.5vh;
  color : #e3e3e3;
  cursor: pointer;
}
.mobilesubmit {
  position: fixed;
  width:90vw;
  height: 7vh;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:3vh;
  background-color: rgb(0, 95, 0,0.5) ;
  pointer-events: auto;
  border-radius: 3.5vh;
  color : #e3e3e3;
  cursor: pointer;
}


.progressbar {
  position: fixed;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(30vh,40vw,42vw);

  height: 6vh;
  background-color: #333; 
  border-radius: 3vh;
  overflow: hidden;
}

/* WebKit (Chrome, Safari) - Empty background */
.progressbar::-webkit-progress-bar {
  background-color: #ddd;
  border-radius: 15px; /* Keep background rounded */
}

/* WebKit (Chrome, Safari) - Filled bar (only left side rounded) */
.progressbar::-webkit-progress-value {
  background-color: #d49c04; /* Green fill */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: width 0.4s ease-in-out;
}

/* Firefox */
.progressbar::-moz-progress-bar {
  background-color: #d49c04;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.points{
  position: fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: 50vw;
  font-size: 5vh;
  color:white;
  text-shadow: 0 0 .5vh var(--points), 0 0 .5vh var(--points), 0 0 .5vh var(--points), 0 0 .5vh var(--points), 0 0 1vh var(--points);
  filter:brightness(1);
}
.menu {
  position:fixed;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.3vw;
  width: clamp(11vh,10vw,12vw);
  height: clamp(5vh,4vw,4vw);
  background-color: rgb(38, 165, 38);
  border-radius: 4vh;
  font-family: "Jost", sans-serif;
  cursor: pointer;

  color: #e3e3e3;
}

.loadinggif{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25vh;
  height: auto;
}
.background {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  size: cover;  
  background-image: url(/background.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
}
.mobileresultsbackground {
  position: fixed;
  bottom: 0; 
  width: 100%;
  height: 20vh; 
  background-image: url(/background.jpg);
  background-size: 100vw auto;
  background-position: center bottom; 
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -40;
}
.mobileconclusionbackground {
  position: fixed;
  bottom: 0; 
  width: 100%;
  height: 30vh; 
  background-image: url(/background.jpg);
  background-size: 100vw auto;
  background-position: center bottom; 
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -40;
}
.mobileblinkedbackground {
  position: fixed;
  top: 0; 
  width: 100%;
  height: calc(100vw/4*3 ); 
  background-image: url(/background.jpg);
  background-size: 100vw auto;
  background-position: center bottom; 
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -40;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(2vh,1.5vw,1.5vw);
}

.ingamedetails { 
  position: fixed;
  width: clamp(12vh,15vw,50vh);
  height:clamp(2vw,10vh,12vw);
  background-color:rgb(15, 15, 15 ,0.8);
  margin-top:10vh;
  right: 0;
  font-size: clamp(1.3vh,1vw,1vw);

}
.totalscore {
  left: 80%;
  transform: translatex( -50%);
  bottom: 1vh;
  position:absolute;
}

.tournumber { 
  position: absolute;
  left: 20%;
  transform: translatex( -50%);
  bottom: 1vh;
  
}
.totalscoreinfo {
  position:absolute;
  left: 80%;
  transform: translatex( -50%);
  margin-top:1vh;
}
.tournumberinfo { 
  position:absolute;
  left: 20%;
  transform: translatex( -50%);;
  margin-top: 1vh;
}

.timerprogress   {
  position: fixed;
  width: clamp(14vh,10vw,200px); 
  height:clamp(20vh,4vw,200px);
  z-index: -4;
  position: absolute;
  top: 7%;
  left: 52%;
  transform: translate(-50%, -50%);
}

.timerdiv   {
  position: fixed;
  
  width: clamp(13vh,9.55vw,200px);
  height:clamp(3vh,2.2vw,200px);
  background-color:rgba(25, 25, 25, 0.7);
  border-radius: 2.5vh;
  top: 7%;
  left: 52%;
  transform: translate(-50%, -50%);
  z-index: -5;
}
