.incrediblemap {
  margin: 0;
  padding: 0;
}
.placemarker {
  position: fixed;
  --width: clamp(200px, 20.1vw, 20.1vw);
  width: var(--width);
  margin-right: 2vw;
  right: 0;
  height: 4vh;
  bottom: 0;
  margin-bottom: 0.5vh;
  background-color: rgb(47, 47, 47, 0.5);
  border-radius: 2vh;
  color: #e3e3e3;
  cursor: pointer;
}
.biggerplacemarker {
  position: fixed;
  width: clamp(70vh, 50vw, 50vw);
  margin-right: 2vw;
  right: 0;
  height: 7vh;
  bottom: 0;
  margin-bottom: 0.5vh;
  font-size: 2.5vh;
  background-color: rgb(47, 47, 47);
  pointer-events: auto;
  border-radius: 3.5vh;
  color: #e3e3e3;
  cursor: pointer;
}
.mobileplacemarker {
  position: fixed;
  width: 90vw;
  height: 7vh;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5vh;
  background-color: rgb(47, 47, 47, 0.5);
  pointer-events: auto;
  border-radius: 3.5vh;
  color: #e3e3e3;
  cursor: pointer;
}
/* transition: width 0.3s ease, height 0.3s ease, */

.submit {
  position: fixed;
  width: clamp(200px, 20.1vw, 20.1vw);
  cursor: pointer;
  height: 4vh;
  margin-right: 2vw;
  right: 0;
  bottom: 0;
  margin-bottom: 0.5vh;
  background-color: rgb(0, 95, 0, 0.5);
  border-radius: 2vh;
  color: #e3e3e3;
}
.biggersubmit {
  position: fixed;
  width: clamp(70vh, 50vw, 50vw);
  height: 7vh;
  margin-right: 2vw;
  right: 0;
  bottom: 0;
  margin-bottom: 0.5vh;
  font-size: 3vh;
  background-color: rgb(0, 95, 0);
  pointer-events: auto;
  border-radius: 3.5vh;
  color: #e3e3e3;
  cursor: pointer;
}
.mobilesubmit {
  position: fixed;
  width: 90vw;
  height: 7vh;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vh;
  background-color: rgb(0, 95, 0, 0.5);
  pointer-events: auto;
  border-radius: 3.5vh;
  color: #e3e3e3;
  cursor: pointer;
}
.outsideofmap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  opacity: 0;
}
.background {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  size: cover;
  background-image: url(/background.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
}
